body {
	background-color: #eee;
	font-family: 'Niramit', sans-serif;
}

.hour-box {
	display: inline-block;
	width: 100px;
	height: 70px;
	line-height: 70px;
	margin: 2px;
	background-color: #729fcf;
	text-align: center;
}

.hour-box::after {
	content: '';
	display:block;
	margin-top: -40px;
	margin-left: 10px;
	width: 80px;
	height: 10px;
	background-color: rgba(255,255,255,0.3);
}


.change-color {
	background-color: #cc0000;
	color: #fff;
}

.change-color::after {
	content: '';
	display: block;
	margin-top: -65px;
	margin-left: 45px;
	width: 10px;
	height: 60px;
	background-color: rgba(255,255,255,0.3);
}

.change-color::before {
	content: '';
	position: absolute;
	display:block;
	margin-top: +30px;
	margin-left: 10px;
	width: 80px;
	height: 10px;
	background-color: rgba(255,255,255,0.3);
}

.flex-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.bg-white {
	background-color: #fff;
	margin: 10px;
	padding: 10px;
}

#datepicker2 {
	width: 270px;
}

.col-box {
	margin-left: 5px;
	margin-right: 5px;
}

.tile {
	width: 400px;
	height: 150px;
	display: flex;
	box-sizing: border-box;
	background: #204a87;
	padding: 20px;
	margin: 3px;
	text-decoration: none;
	color: #fff;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 1.5em;
}

.tile:hover {
	background: #729fcf;
	color: #fff;
	text-decoration: none;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 2em;
	text-align: center;
	line-height: 100vh;
	color: white;
	display: none;
}

.generic-container {
	width: 80%;
	margin: 20px auto;
	padding: 20px;
	background-color: #EAE7E7;
	bpurchase: 1px solid #ddd;
	bpurchase-radius: 4px;
	box-shadow: 0 0 30px black;
}

.sm-container {
	width: 60%;
}

.hr-primary {
	background-image: -webkit-linear-gradient(left, rgba(66, 133, 244, .8),
		rgba(66, 133, 244, .6), rgba(0, 0, 0, 0));
}
/* navigation menu styles */
.nav-top {
	background-color: #3465a4;
}

.nav-top a {
	color: #fff;
}

.custom-action-width {
	width: 25%;
}

/* buttons style */
.btn-primary {
	background-color: #137c5c;
	border: 1px solid #137c5c;
}

.btn-warning {
	background-color: #669fa1;
	border: 1px solid #669fa1;
	color: #fff
}

.btn-danger {
	/* 	background-color: #137c5c;
 */
	bpurchase: 1px solid #137c5c;
}

/* tables style */
table>thead {
	background-color: #3465a4 !important;
}

td {
	bpurchase-left: 1px solid black;
}

ul {
	list-style-type: none;
}

.sidebar {
	background-color: #ccc;
}

.sidebar aside nav ul {
	padding: 20px 10px;
}

aside nav ul li {
	margin: 10px;
	display: inline;
}

.content {
	text-align: center;
}

/* media style  */
@media screen and (max-width: 1000px) {
	.sm-container {
		width: 70%;
	}
	aside {
		margin-top: 50px;
	}
}

@media screen and (max-width: 600px) {
	.sm-container {
		width: 90%;
	}
}